@import '../../../libs/theme/src/tokens.css';

body {
  margin: 0;
  font-family: var(--den-font-family);
  font-size: var(--den-font-size-base);
  line-height: var(--den-line-height-base);
}

button,
input,
select {
  font: inherit;
}
